<p class="notice"><%= notice %></p>

<p><%= alert %></p>
<h1>LogIn</h1>
<%= form_tag sessions_path, method: :post do |form| %>
  
  <div class='row flex-column new'>
    <div class='col'>
      <p><%= label_tag :email %></p>
      <%= text_field_tag :email %>
    </div>

    <div class='col'>
      <p><%= label_tag :password %></p>
      <%= text_field_tag :password %>
    </div>

    <div class='col'>
      <button><%= submit_tag 'Login' %></button>
    </div>
  <div>

<% end %>
