 <% if alert %>
          <p class='notice'><%= alert %></p>
 <% end %>

<h1>LogIn</h1>
<%= form_tag sessions_path, method: :post do |form| %>
  <div class='container'>
    <div class='row flex-column'>
      <div class='col'>
        <p><%= label_tag :email, nil, class: "para-class"%></p>
        <%= text_field_tag :email, nil, class: "inputmail" %>
      </div>

      <div class='col'>
        <p><%= label_tag :password, nil, class: "para-class" %></p>
        <%= password_field :password, nil, class: "inputmail" %>
      </div>

      <div class='col'>
        <%= submit_tag 'Login', class: "btn" %>
      </div>
    <div>
  </div>

<% end %>
