<p class="notice"><%= notice %></p>

<p><%= alert %></p>
<h1>LogIn</h1>
<%= form_tag sessions_path, method: :post do |form| %>
  
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= label_tag :password %>
    <%= text_field_tag :password %>
  </div>

  <div>
    <%= submit_tag 'Login' %>
  </div>

<% end %>