<%= form_tag sessions_path, method: :post do |form| %>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-5 order-md-1">
          <h2 class="mb-3">Log in</h2>
          <form class="needs-validation">
            <div class="row">

            <div class="mb-3">
              <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Enter Your Email' %>
            </div>

            <div class="mb-3">
              <%= password_field_tag 'password', nil, class: "form-control", placeholder: 'Enter Your Password' %>
            </div>

            </div>
              <%= submit_tag 'Login', class: "btn btn-primary btn-lg" %>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
              <%= link_to 'Register', new_user_path, class: "link-danger" %></p>
            </div>
          </form>
        </div>
      </div>
    </div>
<% end %>
