<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = 'container'>
    <div class='row flex-column'>
      <div class='col'>
        <p><%= form.label :name, nil, class: "para-class" %></p>
        <%= form.text_field :name, class: "inputmail" %>
      </div>

      <div class='col'>
        <p><%= form.label :mobile, nil, class: "para-class" %></p>
        <%= form.number_field :mobile, class: "inputmail" %>
      </div>

      <div class='col'>
        <p><%= form.label :email, nil, class: "para-class" %></p>
        <%= form.text_field :email, class: "inputmail" %>
      </div>

      <div class='col'>
        <p><%= form.label :password, nil, class: "para-class" %></p>
        <%= form.password_field :password, class: "inputmail" %>
      </div>

      <div class='col'>
        <p><%= form.label :password_confirmation, nil, class: "para-class" %></p>
        <%= form.password_field :password_confirmation, class: "inputmail" %>
      </div>

      <div>
        <p><%= form.label :address, nil, class: "para-class" %></p>
        <%= form.text_field :address, class: "inputmail" %>
      </div>

      <div>
        <%= form.submit "SignUp", class: "btn" %>
      </div>
    <div>
  </div>
<% end %>
