<div class='container'>
  <div class='row'>
    <div class='col'>
      <table class='table mb-5'>
        <%= link_to 'Create Client', new_client_path, class:'btn btn-success mb-2 float-right text-light' %>
        <thead class='bg-dark text-white'>
          <tr>
            <th scope='col'>First Name</th>
            <th scope='col'>Website</th>
            <th scope='col'>Source</th>
            <th scope='col'>Location</th>
            <th scope='col'>Actions</th>
          </tr>
        </thead>
        <% @clients.each do |client| %>
          <tbody>
            <tr>
              <td><%= client.first_name %></td>
              <td><%= client.website %></td>
              <td><%= client.source %></td>
              <td><%= client.location %></td>
              <td>
                <div class="btn-group-vertical">
                  <%= link_to 'Edit', [:edit, client], class:'btn btn-success mb-1 btn-sm text-light' %>
                  <%= link_to 'show', client_path(client), class:'btn btn-primary mb-1 btn-sm text-light' %>
                  <%= link_to 'Delete', client, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:'btn btn-danger mb-1 btn-sm text-light' %>
                </div>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>      
</div>