<%= form_with model: [current_user, @project] do |form| %>
  <form class='mb-5'>
    <div class='container'>
      <div class='card-header'>
      </div>
      <div class='form-row'>
        <div class='form-group col-md-6'>
          <label>Title</label>
          <%= form.text_field 'title', class: 'form-control form-control-lg' %>
        </div>
        <div class='form-group col-md-6'>
          <div>
            <br/>
            <%= form.select(:project_type, project_type_options, {include_blank: "select project type"}, class: 'form-control form-control-sm') %>
          </div>
          <div>
            <br/>
            <%= form.select :active, [['Active', true], ['Inactive', false]], {include_blank: "select active"}, class: 'form-control form-control-sm' %>
          </div>
        </div>
        <div class='form-group col-md-6'>
          <label>Start Date</label>
          <%= form.date_field 'started_at', class: 'form-control form-control-lg' %>
        </div>
        <div class='form-group col-md-6'>
          <label>End Date</label>
          <%= form.date_field 'close_at', class: 'form-control form-control-lg' %>
        </div>
      </div>
      <div class='form-group'>
        <label>Description</label>
        <%= form.text_area 'description', class: 'form-control form-control-lg' %>
      </div>
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </form>
<% end %>