
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Edit User", edit_user_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= link_to 'Note', new_user_note_path(current_user.id), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        
        <%= link_to 'Log Out', session_path(:user_id), class: "nav-link",data: {turbo_method: :delete,
            turbo_confirm: "Are you sure?"} %>
      </li>
    </ul>
    <h4 class="mr-auto"> <%= current_user.email %> </h4>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>